FORMAT: 1A
HOST: https://neighbor.ly/api/

# Neighbor.ly
Here you will find how to integrate an application with Neighbor.ly. Check our [Dashboard source code](https://github.com/neighborly/neighborly-dashboard) for a real use case.

## Sessions [/sessions]

    Your first stop when integrating with Neighborly. For a lot of endpoints, you are expected to provide an `access_token`, managed by this section.

### Create a session [POST]

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1

    + Body

            { "email": "mr.nobody@example.com", "password": "your-really-strong-password" }

+ Response 201 (application/json)

        { "access_token": "Ndf6kxgLfr_KMhAg8wMpm7Yit2cvHkv9oI8qIXWiHmZdeqI1h0cmn8p4wCEhoZS-AQY", "user_id": 1 }

+ Response 400 (application/json)

        {}


+ Response 401 (application/json)

        {}


## User [/users/{id}]
### Fetch user information [GET]

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here


+ Response 200 (application/json)

        { "user": { "id": 34, "bio": null, "created_at": "2014-07-01T16:21:35+00:00", "display_image": "https://gravatar.com/avatar/7fc04373cf0c63e376baec602fec8f45.jpg?size=150&default=http://localhost/assets/default-avatars/5.png", "display_name": "Joãozinho", "email": "person0.9132588986740293@example.com", "facebook_url": null, "linkedin_url": null, "other_url": null, "profile_type": "personal", "twitter_url": null } ] }


## Tags [/tags]
### List tags [GET]

You can also provide a value for "popular" parameter. With "1", you will receive just popular tags.

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here


+ Response 200 (application/json)

        {"tags"=>[{"id"=>1, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>2, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>3, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>4, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>5, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>6, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>7, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>8, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>9, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>10, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>11, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>12, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>13, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>14, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>15, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>16, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>17, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>18, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>19, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>20, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>21, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>22, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>23, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>24, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>25, "name"=>"cycling", "total_projects"=>0, "visible"=>true}], "meta"=>{"page"=>1, "total"=>30, "total_pages"=>2}}


+ Response 401 (application/json)

        {}


### Create a tag [POST]

Requires the user to be an admin.

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here

    + Body

            {"tag"=>{"name"=>"foobar", "visible": true}}

+ Response 201 (application/json)

        {"tag":{"id":310,"name":"foobar","visible":true}}

+ Response 400 (application/json)

        {}


+ Response 401 (application/json)

        {}

+ Response 422 (application/json)

        {"errors":{"name":["has already been taken"]}}

## Tag [/tags/{id}]

### Update a tag [PUT]

Requires the user to be an admin.

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here

    + Body

            {"tag"=>{"name"=>"foobar-updated", "visible": true}}

+ Response 204 (application/json)

+ Response 400 (application/json)

        {}


+ Response 401 (application/json)

        {}

+ Response 422 (application/json)

        {"errors":{"name":["has already been taken"]}}


### Fetch tag information [GET]

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here


+ Response 200 (application/json)

        {"tag":{"id":310,"name":"foobar","visible":true}}

### Destroy a tag [PUT]

Requires the user to be an admin.

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here


+ Response 204 (application/json)

+ Response 400 (application/json)

        {}


+ Response 401 (application/json)

        {}
