FORMAT: 1A
HOST: https://neighbor.ly/api/

# Neighbor.ly
Here you will find how to integrate an application with Neighbor.ly. Check our [Dashboard source code](https://github.com/neighborly/neighborly-dashboard) for a real use case.

## Sessions [/sessions]

    Your first stop when integrating with Neighborly. For a lot of endpoints, you are expected to provide an `access_token`, managed by this section.

### Create a session [POST]

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1

    + Body

            { "email": "mr.nobody@example.com", "password": "your-really-strong-password" }

+ Response 201 (application/json)

        { "access_token": "Ndf6kxgLfr_KMhAg8wMpm7Yit2cvHkv9oI8qIXWiHmZdeqI1h0cmn8p4wCEhoZS-AQY", "user_id": 1 }

+ Response 400 (application/json)

        {}

+ Response 401 (application/json)

        {}

## User [/users/{id}]
### Fetch user information [GET]

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here


+ Response 200 (application/json)

        { "user": { "id": 34, "bio": null, "created_at": "2014-07-01T16:21:35+00:00", "image_url": "https://gravatar.com/avatar/7fc04373cf0c63e376baec602fec8f45.jpg?size=150&default=http://localhost/assets/default-avatars/5.png", "name": "Joãozinho", "email": "person0.9132588986740293@example.com", "facebook_url": null, "linkedin_url": null, "other_url": null, "profile_type": "personal", "twitter_url": null } ] }


## Projects [/projects]
### List projects [GET]

`order_by`, `query`, `by_category_id`, `between_created_at`, `between_expires_at` and `between_online_date` parameters are non mandatory.

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here

    + Body

            { "order_by": "name asc" }


+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here

    + Body

            { "between_created_at": { "starts_at": "2014-10-13", "ends_at": "2014-10-15" } }


+ Response 200 (application/json)

        {"projects"=>
          [{"id"=>2002,
            "about"=>"a-big-text-about-the-project",
            "about_html"=>"<p>a-big-text-about-the-project</p>\n",
            "address_city"=>"New York",
            "address_neighborhood"=>nil,
            "address_state"=>"NY",
            "address_zip_code"=>nil,
            "budget"=>nil,
            "budget_html"=>nil,
            "campaign_type"=>"flexible",
            "category_id"=>2020,
            "created_at"=>"2014-07-07T14:25:08+00:00",
            "expires_at"=>nil,
            "featured"=>false,
            "goal"=>"10000.0",
            "hash_tag"=>nil,
            "headline"=>"attractive-headline",
            "hero_image"=>{"hero_image"=>{"url"=>nil, "blur"=>{"url"=>nil}}},
            "home_page"=>nil,
            "more_links"=>nil,
            "name"=>"Wonderful project",
            "online_date"=>nil,
            "online_days"=>0,
            "organization_type"=>nil,
            "permalink"=>"wonderful-project",
            "pledged"=>"0.0",
            "recommended"=>false,
            "short_url"=>nil,
            "site"=>nil,
            "state"=>"draft",
            "street_address"=>nil,"terms"=>nil,
            "terms_html"=>nil,
            "uploaded_image"=>
             {"uploaded_image"=>
               {"url"=>nil,
                "project_thumb"=>{"url"=>nil},
                "project_thumb_small"=>{"url"=>nil},
                "project_thumb_large"=>{"url"=>nil},
                "project_thumb_facebook"=>{"url"=>nil}}},
            "user_id"=>3268,
            "video_embed_url"=>nil,
            "video_thumbnail"=>
             {"video_thumbnail"=>
               {"url"=>nil,
                "project_thumb"=>{"url"=>nil},
                "project_thumb_small"=>{"url"=>nil},
                "project_thumb_large"=>{"url"=>nil},
                "project_thumb_facebook"=>{"url"=>nil}}},
            "video_url"=>nil}],
         "meta"=>{"page"=>1, "total"=>1, "total_pages"=>1}}


+ Response 401 (application/json)

        {}


## Tags [/tags]
### List tags [GET]

You can also provide a value for "popular" parameter. With "1", you will receive just popular tags.

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here


+ Response 200 (application/json)

        {"tags"=>[{"id"=>1, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>2, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>3, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>4, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>5, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>6, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>7, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>8, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>9, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>10, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>11, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>12, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>13, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>14, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>15, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>16, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>17, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>18, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>19, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>20, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>21, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>22, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>23, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>24, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>25, "name"=>"cycling", "total_projects"=>0, "visible"=>true}], "meta"=>{"page"=>1, "total"=>30, "total_pages"=>2}}


+ Response 401 (application/json)

        {}

### Create a tag [POST]

Requires the user to be an admin.

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here

    + Body

            {"tag"=>{"name"=>"foobar", "visible": true}}

+ Response 201 (application/json)

        {"tag":{"id":310,"name":"foobar","visible":true}}

+ Response 400 (application/json)

        {}

+ Response 401 (application/json)

        {}

+ Response 422 (application/json)

        {"errors":{"name":["has already been taken"]}}

## Tag [/tags/{id}]

### Update a tag [PUT]

Requires the user to be an admin.

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here

    + Body

            {"tag"=>{"name"=>"foobar-updated", "visible": true}}

+ Response 204 (application/json)

+ Response 400 (application/json)

        {}

+ Response 401 (application/json)

        {}

+ Response 422 (application/json)

        {"errors":{"name":["has already been taken"]}}


### Fetch tag information [GET]

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here


+ Response 200 (application/json)

        {"tag":{"id":310,"name":"foobar","visible":true}}

### Destroy a tag [DELETE]

Requires the user to be an admin.

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here


+ Response 204 (application/json)

+ Response 400 (application/json)

        {}

+ Response 401 (application/json)

        {}

## Project [/project/{id}]

### Update a project [PUT]

Some atributes may not be saved, it will depends from the user access rights.

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here

    + Body

            {"project"=>{"name"=>"Foo Bar Project Updated"}}

+ Response 204 (application/json)

+ Response 400 (application/json)

        {}

+ Response 401 (application/json)

        {}

+ Response 422 (application/json)

        {"errors":{"name":["can't be blank"]]}}

+ Response 403 (application/json)

### Push project to trash [DELETE]

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here


+ Response 204 (application/json)

+ Response 400 (application/json)

        {}

+ Response 401 (application/json)

        {}

+ Response 403 (application/json)

## Approve a Project [/project/{id}/approve]

### Change the project state to soon [PUT]

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here


+ Response 204 (application/json)

+ Response 400 (application/json)

        {}

+ Response 401 (application/json)

        {}

+ Response 403 (application/json)

## Launch a Project [/project/{id}/launch]

### Change the project state to online [PUT]

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here


+ Response 204 (application/json)

+ Response 400 (application/json)

        {}

+ Response 401 (application/json)

        {}

+ Response 403 (application/json)

## Reject a Project [/project/{id}/reject]

### Change the project state to rejected [PUT]

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here


+ Response 204 (application/json)

+ Response 400 (application/json)

        {}

+ Response 401 (application/json)

        {}

+ Response 403 (application/json)

## Push a Project to Draft [/project/{id}/push_to_draft]

### Change the project state to draft [PUT]

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here


+ Response 204 (application/json)

+ Response 400 (application/json)

        {}

+ Response 401 (application/json)

        {}

+ Response 403 (application/json)

## Channel [/channels/{id}]
### Fetch a channel information [GET]

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here


+ Response 200 (application/json)

        { "channel"=>{"id"=>52, "name"=>"Test", "description"=>"Lorem Ipsum", "permalink"=>"3-test-page", "created_at"=>"2014-07-15T06:35:03.389-05:00", "updated_at"=>"2014-07-15T06:35:03.389-05:00", "image"=>{"image"=>{"url"=>nil, "thumb"=>{"url"=>nil}, "large"=>{"url"=>nil}, "x_large"=>{"url"=>nil}}}, "video_embed_url"=>nil, "video_url"=>nil, "how_it_works"=>nil, "how_it_works_html"=>nil, "terms_url"=>"http://test.host/terms", "state"=>"draft", "user_id"=>3432, "accepts_projects"=>true, "submit_your_project_text"=>nil, "submit_your_project_text_html"=>nil, "start_content"=>nil, "start_hero_image"=>{"start_hero_image"=>{"url"=>nil, "blur"=>{"url"=>nil}}}, "success_content"=>nil}} }

