FORMAT: 1A
HOST: https://neighbor.ly/api/

# Neighbor.ly
Here you will find how to integrate an application with Neighbor.ly. Check our [Dashboard source code](https://github.com/neighborly/neighborly-dashboard) for a real use case.

## Allowed HTTPs requests:

  - `POST` - Creates or updates a resource
  - `PUT` - Updates a resource
  - `GET` - Retrieves a resource or list of resources
  - `DELETE` - Delete a resource


## Typical Server Responses

  - `200` OK - The request was successful (some API calls may return 201 instead).
  - `201` Created - The request was successful and a resource was created.
  - `204` No Content - The request was successful but there is no representation to return (that is, the response is empty).
  - `400` Bad Request - The request could not be understood or was missing required parameters.
  - `401` Unauthorized - Authentication failed.
  - `403` Forbidden - User does not have permissions for the requested operation.
  - `404` Not Found - Resource was not found.
  - `405` Method Not Allowed - Requested method is not supported for the specified resource.
  - `422` Unprocessable Entity - The resource may contain validation errors.
  - `503` Service Unavailable - The service is temporary unavailable (e.g. scheduled Platform Maintenance). Try again later.

## Sessions [/sessions]

    You must be authenticated to use the API, to authneticate you will need an access token.

### Create an access token [POST]

+ Parameters

    + email (required, string) ... Your Neighbor.ly account email address
    + password (required, string) ... Your Neighbor.ly account password

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1

    + Body

            { "email": "mr.nobody@example.com", "password": "your-really-strong-password" }

+ Response 201 (application/json)

        { "access_token": "Ndf6kxgLfr_KMhAg8wMpm7Yit2cvHkv9oI8qIXWiHmZdeqI1h0cmn8p4wCEhoZS-AQY", "user_id": 1 }

+ Response 400 (application/json)

        {}

+ Response 401 (application/json)

        {}

### Destroy the access token [DELETE]

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here


+ Response 200 (application/json)

        {}

# Group Users

## /users/{id}

### Fetch user information [GET]

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here


+ Response 200 (application/json)

        { "user": { "id": 34, "bio": null, "created_at": "2014-07-01T16:21:35+00:00", "image_url": "https://gravatar.com/avatar/7fc04373cf0c63e376baec602fec8f45.jpg?size=150&default=http://localhost/assets/default-avatars/5.png", "name": "Joãozinho", "email": "person0.9132588986740293@example.com", "facebook_url": null, "linkedin_url": null, "other_url": null, "profile_type": "personal", "twitter_url": null } ] }


## /users

### List users [GET]

Requires the user to be an admin.

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here

    + Body

            { "query": "foo bar" }

+ Response 200 (application/json)

        {
          "users":[
          {
              "id":18,
              "bio":null,
              "created_at":"2014-07-04T12:42:41+00:00",
              "email":"camila@casperwaters.name",
              "facebook_url":null,
              "linkedin_url":null,
              "other_url":null,
              "profile_type":"personal",
              "twitter_url":null,
              "name":"Mrs. Abigayle Gaylord",
              "image_url":"http://neighbor.ly/uploads/user/uploaded_image/18/thumb_avatar_image.jpg",
              "total_contributed":"70.0",
              "admin":false,
              "url":"http://neighbor.ly/api/users/18",
              "html_url":"http://neighbor.ly/neighbors/18-mrs-abigayle-gaylord"
            }
          ],
          "meta":{
            "page":8,
            "total":217,
            "total_pages":9
          }
        }

+ Response 401 (application/json)

        {}

# Group Projects

## /projects

### List projects [GET]

+ Parameters

    + order_by (optional, string) ... Order by specify field with direction e.g. `goal desc`
    + query (optional, string) ... Search for projects
    + by_category_id (optional, object) ... Filter by category id
    + between_created_at (optional, object) ... Filter by between created at e.g. `{ "between_created_at": { "starts_at": "2014-10-13", "ends_at": "2014-10-15" } }`
    + between_expires_at (optional, object) ... Filter by between expires at
    + between_online_date (optional, object) ... Filter by between online date

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here

+ Response 200 (application/json)

        {"projects"=>
          [{"id"=>2002,
            "about"=>"a-big-text-about-the-project",
            "about_html"=>"<p>a-big-text-about-the-project</p>\n",
            "address_city"=>"New York",
            "address_neighborhood"=>nil,
            "address_state"=>"NY",
            "address_zip_code"=>nil,
            "budget"=>nil,
            "budget_html"=>nil,
            "campaign_type"=>"flexible",
            "category_id"=>2020,
            "created_at"=>"2014-07-07T14:25:08+00:00",
            "expires_at"=>nil,
            "featured"=>false,
            "goal"=>"10000.0",
            "hash_tag"=>nil,
            "headline"=>"attractive-headline",
            "hero_image"=>{"hero_image"=>{"url"=>nil, "blur"=>{"url"=>nil}}},
            "home_page"=>nil,
            "more_links"=>nil,
            "name"=>"Wonderful project",
            "online_date"=>nil,
            "online_days"=>0,
            "organization_type"=>nil,
            "permalink"=>"wonderful-project",
            "pledged"=>"0.0",
            "recommended"=>false,
            "short_url"=>nil,
            "site"=>nil,
            "state"=>"draft",
            "street_address"=>nil,"terms"=>nil,
            "terms_html"=>nil,
            "uploaded_image"=>
             {"uploaded_image"=>
               {"url"=>nil,
                "project_thumb"=>{"url"=>nil},
                "project_thumb_small"=>{"url"=>nil},
                "project_thumb_large"=>{"url"=>nil},
                "project_thumb_facebook"=>{"url"=>nil}}},
            "user_id"=>3268,
            "video_embed_url"=>nil,
            "video_thumbnail"=>
             {"video_thumbnail"=>
               {"url"=>nil,
                "project_thumb"=>{"url"=>nil},
                "project_thumb_small"=>{"url"=>nil},
                "project_thumb_large"=>{"url"=>nil},
                "project_thumb_facebook"=>{"url"=>nil}}},
            "video_url"=>nil}],
         "meta"=>{"page"=>1, "total"=>1, "total_pages"=>1}}


+ Response 401 (application/json)

        {}

## /project/{id}

### Fetch Project informations [GET]

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here

+ Response 200 (application/json)

        {"project"=>
          {"id"=>2002,
            "about"=>"a-big-text-about-the-project",
            "about_html"=>"<p>a-big-text-about-the-project</p>\n",
            "address_city"=>"New York",
            "address_neighborhood"=>nil,
            "address_state"=>"NY",
            "address_zip_code"=>nil,
            "budget"=>nil,
            "budget_html"=>nil,
            "campaign_type"=>"flexible",
            "category_id"=>2020,
            "created_at"=>"2014-07-07T14:25:08+00:00",
            "expires_at"=>nil,
            "featured"=>false,
            "goal"=>"10000.0",
            "hash_tag"=>nil,
            "headline"=>"attractive-headline",
            "hero_image"=>{"hero_image"=>{"url"=>nil, "blur"=>{"url"=>nil}}},
            "home_page"=>nil,
            "more_links"=>nil,
            "name"=>"Wonderful project",
            "online_date"=>nil,
            "online_days"=>0,
            "organization_type"=>nil,
            "permalink"=>"wonderful-project",
            "pledged"=>"0.0",
            "recommended"=>false,
            "short_url"=>nil,
            "site"=>nil,
            "state"=>"draft",
            "street_address"=>nil,"terms"=>nil,
            "terms_html"=>nil,
            "uploaded_image"=>
             {"uploaded_image"=>
               {"url"=>nil,
                "project_thumb"=>{"url"=>nil},
                "project_thumb_small"=>{"url"=>nil},
                "project_thumb_large"=>{"url"=>nil},
                "project_thumb_facebook"=>{"url"=>nil}}},
            "user_id"=>3268,
            "video_embed_url"=>nil,
            "video_thumbnail"=>
             {"video_thumbnail"=>
               {"url"=>nil,
                "project_thumb"=>{"url"=>nil},
                "project_thumb_small"=>{"url"=>nil},
                "project_thumb_large"=>{"url"=>nil},
                "project_thumb_facebook"=>{"url"=>nil}}},
            "video_url"=>nil}}


+ Response 401 (application/json)

        {}

### Update a project [PUT]

Some atributes may not be saved, it will depends from the user access rights.

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here

    + Body

            {"project"=>{"name"=>"Foo Bar Project Updated"}}

+ Response 204 (application/json)

+ Response 400 (application/json)

        {}

+ Response 401 (application/json)

        {}

+ Response 422 (application/json)

        {"errors":{"name":["can't be blank"]]}}

+ Response 403 (application/json)

### Push project to trash [DELETE]

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here


+ Response 204 (application/json)

+ Response 400 (application/json)

        {}

+ Response 401 (application/json)

        {}

+ Response 403 (application/json)

## /project/{id}/approve

### Approve a Project [PUT]

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here


+ Response 204 (application/json)

+ Response 400 (application/json)

        {}

+ Response 401 (application/json)

        {}

+ Response 403 (application/json)

## /project/{id}/launch

### Launch a Project [PUT]

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here


+ Response 204 (application/json)

+ Response 400 (application/json)

        {}

+ Response 401 (application/json)

        {}

+ Response 403 (application/json)

## /project/{id}/reject

### Reject a Project [PUT]

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here


+ Response 204 (application/json)

+ Response 400 (application/json)

        {}

+ Response 401 (application/json)

        {}

+ Response 403 (application/json)

## /project/{id}/push_to_draft

### Push a Project to Draft [PUT]

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here


+ Response 204 (application/json)

+ Response 400 (application/json)

        {}

+ Response 401 (application/json)

        {}

+ Response 403 (application/json)


# Group Contributions

## /contributions

### List contributions [GET]

Requires the user to be an admin.

+ Parameters

    + query (optional, string) ... Search for contributions
    + between_values (optional, object) ... Filter between values.

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here

    + Body

            { "between_values": { "initial": "500.00", "final": "1000.00" } }


+ Response 200 (application/json)

      {
        "contributions":[
          {
            "id":1714,
            "project_id":62,
              "user_id":1,
              "reward_id":226,
              "value":"25.0",
              "confirmed_at":null,
              "created_at":"2014-01-14T16:32:36.324-06:00",
              "anonymous":false,
              "key":"e624ea64c2a7fc85e15b70cdf9e83fc9",
              "credits":false,
              "payment_method":null,
              "payment_token":null,
              "payment_id":null,
              "address_street":null,
              "address_number":null,
              "address_complement":null,
              "address_neighborhood":null,
              "address_zip_code":null,
              "address_city":null,
              "address_state":null,
              "address_phone_number":null,
              "payment_choice":null,
              "payment_service_fee":"0.0",
              "state":"deleted",
              "short_note":"",
              "payment_service_fee_paid_by_user":false,
              "matching_id":null,
              "rights":{
                "can_pendent":true,
                "can_wait_confirmation":false,
                "can_confirm":true,
                "can_cancel":true,
                "can_request_refund":false,
                "can_refund":false,
                "can_push_to_trash":true
              }
            }
          ],
          "meta":{
            "page":1,
            "total":1,
            "total_pages":1
          }
        }

+ Response 401 (application/json)

        {}

## /contribution/{id}/confirm

### Manually Confirm a Contibution [PUT]

Requires the user to be an admin.

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here


+ Response 204 (application/json)

+ Response 400 (application/json)

        {}

+ Response 401 (application/json)

        {}

## /contribution/{id}/pendent

### Set a Contibution as Pending [PUT]

Requires the user to be an admin.

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here


+ Response 204 (application/json)

+ Response 400 (application/json)

        {}

+ Response 401 (application/json)

        {}

## /contribution/{id}/refund

### Refund a Contribution [PUT]

Requires the user to be an admin.

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here


+ Response 204 (application/json)

+ Response 400 (application/json)

        {}

+ Response 401 (application/json)

        {}

## /contribution/{id}/hide

### Hide a Contribution [PUT]

Requires the user to be an admin.

It will change the contribution state to `refunded_and_canceled`.

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here


+ Response 204 (application/json)

+ Response 400 (application/json)

        {}

+ Response 401 (application/json)

        {}

## /contribution/{id}/cancel

### Cancel a Contribution[PUT]

Requires the user to be an admin.

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here


+ Response 204 (application/json)

+ Response 400 (application/json)

        {}

+ Response 401 (application/json)


## /contributions/{id}

### Update a Contribution [PUT]

Requires the user to be an admin.

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here

    + Body

            {"contribution"=>{"value"=>"10.0"}}

+ Response 204 (application/json)

+ Response 400 (application/json)

        {}

+ Response 401 (application/json)

        {}

+ Response 422 (application/json)

        {"errors":{"value":["can't be blank"]}}


### Fetch Contribution information [GET]

Requires the user to be an admin.

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here


+ Response 200 (application/json)

        {
          "contribution": {
            "id":1714,
            "project_id":62,
            "user_id":1,
            "reward_id":226,
            "value":"25.0",
            "confirmed_at":null,
            "created_at":"2014-01-14T16:32:36.324-06:00",
            "anonymous":false,
            "key":"e624ea64c2a7fc85e15b70cdf9e83fc9",
            "credits":false,
            "payment_method":null,
            "payment_token":null,
            "payment_id":null,
            "address_street":null,
            "address_number":null,
            "address_complement":null,
            "address_neighborhood":null,
            "address_zip_code":null,
            "address_city":null,
            "address_state":null,
            "address_phone_number":null,
            "payment_choice":null,
            "payment_service_fee":"0.0",
            "state":"deleted",
            "short_note":"",
            "payment_service_fee_paid_by_user":false,
            "matching_id":null,
            "rights":{
              "can_pendent":true,
              "can_wait_confirmation":false,
              "can_confirm":true,
              "can_cancel":true,
              "can_request_refund":false,
              "can_refund":false,
              "can_push_to_trash":true
            }
          }
        }

### Destroy a Contribution [DELETE]

Requires the user to be an admin.

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here


+ Response 204 (application/json)

+ Response 400 (application/json)

        {}

+ Response 401 (application/json)

# Group Tags

## /tags

### List tags [GET]

+ Parameters

    + popular (optional, boolean) ... Filter by popular tags

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here


+ Response 200 (application/json)

        {"tags"=>[{"id"=>1, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>2, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>3, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>4, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>5, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>6, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>7, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>8, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>9, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>10, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>11, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>12, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>13, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>14, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>15, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>16, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>17, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>18, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>19, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>20, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>21, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>22, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>23, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>24, "name"=>"cycling", "total_projects"=>0, "visible"=>true}, {"id"=>25, "name"=>"cycling", "total_projects"=>0, "visible"=>true}], "meta"=>{"page"=>1, "total"=>30, "total_pages"=>2}}


+ Response 401 (application/json)

        {}

### Create a tag [POST]

Requires the user to be an admin.

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here

    + Body

            {"tag"=>{"name"=>"foobar", "visible": true}}

+ Response 201 (application/json)

        {"tag":{"id":310,"name":"foobar","visible":true}}

+ Response 400 (application/json)

        {}

+ Response 401 (application/json)

        {}

+ Response 422 (application/json)

        {"errors":{"name":["has already been taken"]}}

## /tags/{id}

### Update a tag [PUT]

Requires the user to be an admin.

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here

    + Body

            {"tag"=>{"name"=>"foobar-updated", "visible": true}}

+ Response 204 (application/json)

+ Response 400 (application/json)

        {}

+ Response 401 (application/json)

        {}

+ Response 422 (application/json)

        {"errors":{"name":["has already been taken"]}}


### Fetch tag information [GET]

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here


+ Response 200 (application/json)

        {"tag":{"id":310,"name":"foobar","visible":true}}

### Destroy a tag [DELETE]

Requires the user to be an admin.

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here


+ Response 204 (application/json)

+ Response 400 (application/json)

        {}

+ Response 401 (application/json)

        {}

# Group Channels

## /channels/{id}
### Fetch a channel information [GET]

+ Request

    + Header

            Accept: application/vnd.api+json;revision=1
            Authorization: Token your-token-here


+ Response 200 (application/json)

        { "channel"=>{"id"=>52, "name"=>"Test", "description"=>"Lorem Ipsum", "permalink"=>"3-test-page", "created_at"=>"2014-07-15T06:35:03.389-05:00", "updated_at"=>"2014-07-15T06:35:03.389-05:00", "image"=>{"image"=>{"url"=>nil, "thumb"=>{"url"=>nil}, "large"=>{"url"=>nil}, "x_large"=>{"url"=>nil}}}, "video_embed_url"=>nil, "video_url"=>nil, "how_it_works"=>nil, "how_it_works_html"=>nil, "terms_url"=>"http://test.host/terms", "state"=>"draft", "user_id"=>3432, "accepts_projects"=>true, "submit_your_project_text"=>nil, "submit_your_project_text_html"=>nil, "start_content"=>nil, "start_hero_image"=>{"start_hero_image"=>{"url"=>nil, "blur"=>{"url"=>nil}}}, "success_content"=>nil}} }


